body {
    font-family: 'Nunito', sans-serif, Arial, Helvetica;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.alert {
    margin-top: 10px;
}

.container-fluid,
.container {
    padding: 0;
}

/* Menu */

.navbar a:hover {
    color: white;
}

/* Footer */

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}